<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/css/listings/show.css">

<body>
    <div class="container">
        <div class="destination-header">
            <h1><%= result.title %></h1>
        </div>
        <img src="<%= result.image.url %>" alt="Destination Image" class="destination-image" onerror='this.src="https://cff2.earth.com/uploads/2017/09/31200356/Nature-imagery-has-a-calming-effects-on-prisoners-850x500.jpg"'>
        <ul class="destination-details">
            <li><%= result.description %></li>
            <li><p style="font-weight: 600;">Price</p><p>₹<%= result.price.toLocaleString("en-IN") %></p></li>
            <li><p style="font-weight: 600;">Location</p><p><%= result.location %></p></li>
            <li><p style="font-weight: 600;">Country</p><p><%= result.country %></p></li>
        </ul>
        <div class="buttons">
            <button class="edit" onclick="window.location.href='/listings/<%= result._id %>/edit'">Edit data</button>
            <form method="post" action="/listings/<%= result._id %>/delete?_method=DELETE" style="display: inline;">
                <button class="delete" type="submit">Delete data</button>
            </form>
        </div>
    </div>
</body>
