<%- layout("layouts/boilerplate") %>
<link rel="stylesheet" href="/css/user/profile.css">
<body>
    <div class="container">
        <div class="user-profile">
            <h1>WanderLust - User Profile</h1>
            <div class="user-info">
                <div class="user-detail">
                    <strong>Username:</strong> <span><%= user.username %></span>
                </div>
                <div class="user-detail">
                    <strong>Full Name:</strong> <span><%= user.fullName %></span>
                </div>
                <div class="user-detail">
                    <strong>Email:</strong> <span><%= user.email %></span>
                </div>
            </div>
        </div>
        <div class="bookings-container">
            <% if (user.bookings.length>0) { %>
                <% user.bookings.forEach((booking) => { %>
                    <div class="booking-card">
                        <% if (booking.listing) { %>
                            <h3><%= booking.listing.title %></h3>
                            <p><strong>Date:</strong> <%= booking.date.bookedOnDate.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }) %></p>
                            <p><strong>Visitor:</strong> <%= booking.name %></p>
                            <a href="/bookings/bookingSummary/<%= booking._id %>" class="btn">View Booking Summary</a>
                        <% } else { %>
                            <h4>The stay you have been booked previously might have been deleted. so it is not getting displayed.</h4>
                        <% } %>
                    </div>
                <% }) %>                
            <% } else {%>
                <h4>You don't have any bookings yet or the stay you have been booked previously might have been deleted. So, it is not getting displayed.</h4>
            <% } %>
        </div>
    </div>
</body>
</html>
